.app {
  margin: 0 auto;
  width: #{'min(100%, 900px)'};
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
