
.character {
	border: 2px solid var(--main-border-color);
	padding: 2rem 1rem;
	background: var(--main-background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 5px var(--main-shadow-color);
	text-align:center;

}

.character__name {
	font-size: 2rem;
	font-weight: bold;
}

.character-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:0.5rem;
}

.character-detail__name {
	display:block;
	font-weight: 200;
	opacity: 0.7;
}

.character-detail__value {
	display:block;
	font-weight: 700;
}
