.search-results {
	width: 100%;
}

.search-results__count {
	display: none;
}

.search-results__items {
	padding: 1.5rem 0;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

